<h1>Welcome to Chess</h1>
<p>Would you like to play a game?</p>


<!-- 	see http://jsfiddle.net/aNmcp/ 
		
		and 
		
		http://stackoverflow.com/questions/9114520/pure-css-chessboard-with-div-no-classes-or-ids-is-it-possible
-->

<div id="chess_board">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>


