<ul class="pawn-promotion-list">
	<li><%= link_to "Queen", "javascript:void(0)", :class => "btn btn-lg btn-primary promote queen"%></li>
	<li><%= link_to "Bishop", "javascript: void(0)", :class => "btn btn-lg btn-primary promote bishop" %></li>
	<li><%= link_to "Rook", "javascript: void(0)", :class => "btn btn-lg btn-primary promote rook" %></li>
</ul>