#myEditModalButton {
	display: none;
}

#pawn-promote-button {
	display: none; 
}

.players-list {

	
}

#board-outline {
	padding: 0;
}

#chess_board { 
	border:5px solid #333;
	display: inline-block; 
}
#chess_board td {
  background: #fff;
  height: 60px;
  text-align:center;
  vertical-align:middle;
  width: 60px;
}

#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
  background: #ccc;
}
